/* Font imports */
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap");

/* Tailwind directives */
@tailwind base;
@tailwind components;
@tailwind utilities;

/* Base styles */
body {
  @apply text-asparagus-900;
}

p {
  @apply font-serif;
}

h1 {
  @apply text-pine-cone-700;
}

mark {
  padding: 0 4px;
  background-color: #3d3532;
  color: #fafafa;
}

/* Tailwind utilities */
@layer utilities {
  /* Scrollbar utilities */
  .show-scrollbar {
    &::-webkit-scrollbar {
      display: auto;
    }
    -ms-overflow-style: auto;
    scrollbar-width: auto;
  }

  .no-scrollbar {
    &::-webkit-scrollbar {
      display: none;
    }
    -ms-overflow-style: none;
    scrollbar-width: none;
  }

  /* Drag utilities */
  .drag-none {
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -o-user-select: none;
    user-select: none;
  }
}

/* Clerk styles */
.cl-footer,
.cl-navbar {
  display: none;
}

/* Animations */
@keyframes loop {
  0% {
    transform: translate(0, 0);
  }
  100% {
    transform: translate(6px, 3px);
  }
}
